.math-home {
  position: relative;
  width: 100vw;
  height: 100vh;
  user-select: none;
}
.math-home .main {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.math-home .main .mainBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.math-home .main .mainBox canvas {
  width: 100%;
  height: 100%;
}
